@import '../../assets/scss/colors';
@import '../../assets/scss/flexbox';

.parallax {

    min-height: 100vh; 
    @include flexi(column, center, space-evenly);

  


  }
  
 


  
  .parallax 
  
  {
    .content_wrapper
    {
      background-color: rgba(0, 0, 0, 0.3);
      min-width: 100%;
      overflow: hidden;
      max-height: 100vh;
    }
    
  .title
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 2px 1px 20px black, -1px 4px 13px white;
    color: white;
    
  }
  .title_1
  {
    font-size: .5em;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-right: 2px solid transparent;
 
  }


}


@keyframes fadein
{
  from{
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}
   
  
  /* Animation */
 
  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: white;}
    to{border-right-color: transparent;}
  }
 
  .parallax_img_wrapper
  {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    bottom: 0;
    left: 0;
    img
    {
      object-fit: cover !important;
    }
  }



  .home_btm
  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 30px;
    @include flexi(row, flex-end, space-around);
    flex-wrap: wrap;
  }




.home_btm_r
{
  width: 90%;
  text-align: center;
//margin-top: 20px;
  div
  {
    display: flex;
    justify-content: center;
    align-items: center;
    input[type="text"]
    {
      margin: 0px 14px;
      background-color: white;
      //text-align: center;
      border-radius: 40px;
      padding: 13px 30px 12px;
      max-width: 573px;
      &::placeholder
      {
        font-style: italic;
      }
    }
  }

}
 

@media only screen and (max-width: 500px)
{
  .parallax
  {
    background-attachment: scroll;
    .title_1{
      font-size: .37em;
      margin-bottom: 60px;
    }
    .title_2, .title_3
    {
      font-size: 2.3rem; 
    }
  }
  .home_btm_r
  {
    display: none;
  }
  
}

@media screen and (min-width: 670px)
{
  .title_1{
    white-space: nowrap;
  }
  .title_2
  {
    opacity: 0 ;
    animation: fadein .5s ease-in-out forwards;
    animation-delay: 3.5s;
  }
  .title_3
  {
    opacity: 0 ;
    animation: fadein .7s ease-in-out forwards;
    animation-delay: 4s;
  }
  .anim-typewriter{
    position: relative;
    animation: typewriter 5s steps(50) .4s 1 normal both,
               blinkTextCursor 1s steps(44) 3 normal;
  }
}