@import '../../../assets/scss/flexbox';


.prod_s
{

    .list
    {
        @include flexi(column, flex-start, space-evenly);
    }
    .list > div
    {
        @include flexi(row, flex-start, flex-start)
    }
    .icon_wrapper
    {
        margin-top: 1.25em;
        padding-right: 10px;
        height: 25px;
        width: 25px;
    }

    .title{
    text-transform: none;
    
}
.part-specific
{
    text-align: justify;
}
.part
    {
        margin: 30px;
        &-specific{
            line-height: 2;
        }
    }
}
ol
{
    margin-top: 35px;
}

.prod_items
{
    @include flexi(row, center, space-evenly);
    flex-wrap: wrap;
    a
    {
        font-weight: normal;
    }
}
.prod_item
{
    @include flexi(column, center, flex-start);
    margin: 20px;
    box-shadow: 1px 1px 5px grey;
    border-radius: 20px;
    transition: .2s;
    padding: 20px;
    height: 170px;
    width: 279px;
    cursor: pointer;
   

    .desc
    {
        text-align: center;
    }

   h3
   {
       color: #37ae86;
   }

    p
    {
        margin: 7px auto;
    }
}
.prodSym
{
    width: 35px;
    height: 33.7px;
    margin: 10px auto;
}

.MuiGrid-direction-xs-row-reverse + div
{
    margin: 20px 30px;
}

@media screen and (max-width: 960px)
{
    
.MuiGrid-direction-xs-row-reverse + div
{
    margin: 20px 0px;
}

}

@media screen and (min-width: 1024px)
{
    .prod_item:hover{
        box-shadow: 1px 1px 12px gray;
        transition: .3s;
    }
    .part-specific
    {
        padding-right: 6%;
    
    }
}