@import '../../assets/scss/colors';
@import '../../assets/scss/flexbox';


.footer_section
{
    bottom: 0;
    background-color: rgba(0,0,0,1);
    color: gray;
    background-attachment: fixed;
    padding: 50px;
    border-top: 15px solid $primary_color;
    text-transform: uppercase;
    a
    {
        color: gray;
        font-size: 14px;
        margin-top: 5px;

    }
    .hw
    {
        color: white;
    }
   
    .fr1{
        text-align: center;
        width: 155px;
    }
    .fc1
    {
        @include flexi(column, flex-start, flex-start);  
        display: inline-flex;
        text-align: left !important; 
    }
    a
    {
        letter-spacing: 0;
        padding: 0;
        text-shadow: none;
        font-weight: normal;
    }
    
}
.fas
{
    margin-right: 5px;
}
.contact_details
{
    margin-top: 0;
    padding: 0;
    color: black;
}
.documents
{
    @include flexi(row, center, space-between);
    flex-wrap: wrap;
}
.cb
{
    margin-bottom: 25px;
}
.cd
{
    margin-bottom: 10px;
}
.cd,.cf
{
    display: flex;
    justify-content: center;

}

.fdivider
{
    border-top: 1px solid gray;
    margin: 10px auto;
}

.ext_footer
{
   
    div
    {
        text-align: left;
        color: gray;
    }
}
.ext_footer
{
    margin: 40px 0px 10px;
}
.upper_footer
{
    @include flexi(row, flex-start, space-around);
    
}
@media only screen and (max-width: 744px)
{
    .upper_footer
    {
        flex-wrap: wrap;
        
    }
   .cd, .cf{
       justify-content: left;
   }

   .fr1
   {
       text-align: left !important;
       margin-bottom: 20px !important;
       width: 215px !important;
   }
   .ext_footer
{

        margin: 10px 0px;
   
    div
    {
        text-align: left !important;
    }
   
}

}

@media screen and (max-width: 530px)
{
    .documents
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .upper_footer
    {
        justify-content: flex-start;
    }
}

