.pp-s, .tnc-s
{
    margin: 100px 85px;
    line-height: 22px;
    a
    {
        color: #8d8d8d;
        
    }
    .desc
    {
        color: #8d8d8d;
        h3
        {
            color: black;
        }
    }

    p, li
    {
        font-weight: 400;
        margin-bottom: 1px;
    }
}
.tnc-s
{
    p
    {
        margin-bottom: 18px;
    }
}